{% extends "ForumHomeBundle::layout.html.twig" %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('bundles/forumhome/css/ask.css') }}" />
{% endblock %}
{% block title "Symfony - AskQuestion" %}

{% block body %}
	<div class="main-body-container">
        <form class="ask-question" action="/askquestionajax" method="post">
            <h1>Ask Question</h1>
            <input class="input-question form-control" placeholder="Please input question" name="question" type="text">
            <button type="submit" value="submit" class="ask-question-btn btn btn-primary btn-lg">submit</button>
        </form>
	</div>
{% endblock %}