{% extends "ForumHomeBundle::layout.html.twig" %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('bundles/forumhome/css/home.css') }}" />
{% endblock %}
{% block title "Symfony - AskQuestion" %}

{% block body %}
	<div class="main-body-container">

	</div>
{% endblock %}